body{
    background-color: rgb(24, 3, 44);
    color: white;
    font-size: 15px;
    font-family: arial, sans-serif;
}
.movieDisplay {
    /* border: 2px solid red; */
    margin-top: 50px;
    display: flex;
    /* margin: auto; */
    justify-content: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    /* justify-content: space-between; */
    /* row-gap: 10px; */
}

.movies div {
    border: 3px solid black;
	margin: 0px 10px 30px 10px;
	padding: 8px;
	color: white;
	border-radius: 6px;
	transition: all 0.5s;
}

.movies div:hover {
    transform: scale(1.05);
    z-index: 2;
	border: 3px solid white;
	border-radius: 6px;
	/* height: 450px; */
	padding: 8px;
	background-color: white;
	color: #0f0617;

}

.movies img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.movies button{
	border: 1px solid #a785ff;
	border-radius: 10px;
	width: 200px;
	padding: 8px;
	margin-top: 10px;
	background-color: #0f0617;
	color: white;
}
.movies button:hover {
	border: 1px solid #a785ff;
	border-radius: 6px;
	padding:6px 8px;
	margin-top: 10px;
	background-color: #a785ff;
	color: black;
}

.superstar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}
.superstar div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(124, 100, 100, 0.3) 0px 1px 3px -1px;
    transition: all 0.5s;
}
.superstar img{
    display: flex;
    justify-content: center;
    border-radius: 70%;
}
.superstar div:hover{
    /* transform: scale(1.05); */
    /* z-index: 1; */
	border: 2px solid white;
	border-radius: 2px;
	padding: 8px;
	background-color: rgb(171, 129, 211);
    cursor: pointer;
}

.genre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}
.genre div{
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(124, 100, 100, 0.3) 0px 1px 3px -1px;
    transition: all 0.5s;
}
.genre div:hover{
    /* transform: scale(1.05); */
    /* z-index: 2; */
	border: 3px solid white;
	border-radius: 6px;
	padding: 8px;
	background-color: white;
	color: #0f0617;
    cursor: pointer;
}
.genre img{
    width: 250px;
    height: 150px;
    /* border: 2px solid rgb(9, 214, 60); */

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 10px;
    margin-top: 30px;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}
h1{
    margin-top: 50px;
}