body{
    background-color: #1d5097;
}

#carousel{
    margin-top: 100px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    /* overflow: hidden; */
}
#carousel img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    margin-left: 10px;
}
.moviePage>p{
    margin-top: 50px;
     font-size: 30px;
     font-weight: bold;
     margin-left: 10px;
     color: white;
}
#movies{
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    /* box-shadow: 5px 10px; */
    /* overflow: hidden; */
    /* transition: ; */
}
#movies img{
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
    

}
#movies img:hover{
    /* background-color: red; */
    transform: scale(1.06);
    
}
#latestMovies{
    margin-top: 20px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    /* overflow: hidden; */
}
#latestMovies img{
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
}
#latestMovies img:hover{
    transform: scale(1.06);

}
#hollywoodMovies{
    margin-top: 20px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    /* overflow: hidden; */
}
#hollywoodMovies img{
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
}
#hollywoodMovies img:hover{
    transform: scale(1.06);
    
}
#hindiMovies{
    margin-top: 20px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    /* overflow: hidden; */
}
#hindiMovies img{
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
}
#hindiMovies img:hover{
    transform: scale(1.06);

}